body {
    font-family: Arial, sans-serif;
}

header {
    margin: 1rem;
    font-weight: 500;
    margin-bottom: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: rgb(251, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    margin: 10px;
}

.grid-item {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    border: 1px solid rgb(0, 0, 0);
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    
}

.grid-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
}