@font-face {
    font-family: "FK Raster Roman Compact Sharp";
    src: url(../assets/FKRasterRomanCompactTrial-Sharp.woff);
}

@font-face {
    font-family: "FK Raster Roman Compact Smooth";
    src: url(../assets/FKRasterRomanCompactTrial-Smooth.woff)
}

@font-face {
    font-family: "ABC Monument Grotesk";
    src: url(../assets/ABCMonumentGrotesk-Regular-Trial.woff)
    
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    overflow: auto;
    font-family: "ABC Monument Grotesk";
    text-transform: uppercase;
    background-attachment: fixed;
    font-weight: 600;
  }


header {
    margin: 0;
    font-size: 1rem;
    position: fixed;
    margin-top: 20px;
    left: 40px;
}

.content{
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    
}

#date-location {
    position: fixed;
    bottom: 20px;
    width: 100%;
}

.info {
    display: none; /* Initially hide the info */
    position: fixed;
    top: 50%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Maximum width */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999; /* Ensure it appears above other content */
    text-align: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: 50%;

}

#artist-list {
    position: fixed;
    width: 100%;
    top: 20px;
    text-align: center;
    z-index: -1;
}

#tickets {
    position: fixed;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    padding: 10px;
    /* border: solid 1px black; */
    border-radius: 50%;
    background: radial-gradient(50% 50% at 50% 50%, #8DDDFF 0%, #4982CF 100%);


}


.date {
    margin: 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration: none;
    text-align: center;
    bottom: 20px;
    /* -webkit-user-select: text; /* Chrome, Safari, Opera */
    /* -moz-user-select: text; Firefox */
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: red;
}
  



@media (max-width: 600px) {
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-size: 0.8rem;
        line-height: 1rem;
    }

    #artist-list {
        margin-top: 30px;
    }

    #date-location {
        left: 10px;
        bottom: 30px;
    }
    
}